h1 {
	color:#ffff00;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px orange;
	font-family: Times New Roman;
	background-color: #ff5c33;
}

p {
	font-size: 25px;
	font-weight: bold;
	font-family:Lucida Console;
}

h2 {
	color:#ffff00;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px orange;
	font-family: Times New Roman;
	background-color: #ff5c33;
}

div.styleforp- {
	color:  #0033cc;
	text-shadow: 2px 2px #66ffff;
}
 
.styleforp-2 {
	color: #009900;
	text-shadow: 2px 2px #66ff33;
}
	
.styleforp-3 {
	color: #800080;
	text-shadow: 2px 2px #00ffff;
}

.styleforp-4 {
	color: #000099;
	text-shadow: 2px 2px #00ffff;
}
 
.highlights {
	color:#ffff00;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px orange;
	font-family: Helvetica;
	font-style: italic;
}

.highlights01 {
	color:#ffff00;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px #ff4000;
	font-family: Helvetica;
	font-style: italic;
}

.endstyle {
	color: red;
	text-shadow: 2px 2px orange;	
}

.endstyle-1 {
	color:  #000099;
	text-shadow: 2px 2px #00ffff;	
}